In [1]:
import pandas as pd

In [2]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

iris= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
df= iris.copy()

df.columns= ["Sepal_Length", "Sepal_Width", "Petal_Length", "Petal_Width", "Flower_Type"]

df.head()

df.tail(5)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

In [4]:
df.drop(0, inplace= True)

df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Flower_Type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [5]:
df.index

RangeIndex(start=1, stop=149, step=1)

In [6]:
df.head()

df.drop(df.index[0], inplace= True)

df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Flower_Type
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa

In [7]:
df.drop(df.index[[0,1,2]], inplace= True)

In [8]:
df.Sepal_Length > 5

5      False
6      False
7      False
8      False
9       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: Sepal_Length, Length: 144, dtype: bool

In [9]:
df.Sepal_Length > 5


df[df.Sepal_Length > 5 ]

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
9             5.4          3.7           1.5          0.2     Iris-setosa
13            5.8          4.0           1.2          0.2     Iris-setosa
14            5.7          4.4           1.5          0.4     Iris-setosa
15            5.4          3.9           1.3          0.4     Iris-setosa
16            5.1          3.5           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[116 rows x 5 columns]

In [10]:
df[df.Flower_Type == "Iris-setosa" ]

    Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Flower_Type
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.6          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa
40           4.5          2.3           1.3          0.3  Iris-setosa
41           4.4          3.2           1.3          0.2  Iris-setosa
42           5.0          3.5           1.6          0.6  Iris-setosa
43           5.1          3.8           1.9          0.4  Iris-setosa
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

In [27]:
df[df.Flower_Type == "Iris-setosa" ].describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count     43.000000    43.000000     43.000000    43.000000
mean       5.023256     3.423256      1.467442     0.244186
std        0.361108     0.393904      0.180898     0.111915
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.150000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

## Add a row

In [11]:
print(df.head())

df.loc[6]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Flower_Type
5           4.6          3.4           1.4          0.3  Iris-setosa
6           5.0          3.4           1.5          0.2  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa
8           4.9          3.1           1.5          0.1  Iris-setosa
9           5.4          3.7           1.5          0.2  Iris-setosa

Sepal_Length            5.0
Sepal_Width             3.4
Petal_Length            1.5
Petal_Width             0.2
Flower_Type     Iris-setosa
Name: 6, dtype: object

In [12]:
# Add a row

df.loc[0]= [6, 4, 6, 8, "Iris-setosa"]

df.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             6.0          4.0           6.0          8.0     Iris-setosa

In [13]:
print(df.tail())

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             6.0          4.0           6.0          8.0     Iris-setosa

In [55]:
df.drop(df.index[0], inplace= True)

In [14]:
df.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             6.0          4.0           6.0          8.0     Iris-setosa

In [15]:
df.loc[149]= [5.6, 4.8, 6, 8.4, "Iris-setosa"]

df.loc[0]= [5.6, 3.8, 6, 7.4, "Iris-setosa"]
df.loc[1]= [4.6, 2.8, 6, 8.4, "Iris-setosa"]

In [19]:
df.tail(5)

df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
5             4.6          3.4           1.4          0.3     Iris-setosa
6             5.0          3.4           1.5          0.2     Iris-setosa
7             4.4          2.9           1.4          0.2     Iris-setosa
8             4.9          3.1           1.5          0.1     Iris-setosa
9             5.4          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             5.6          3.8           6.0          7.4     Iris-setosa
149           5.6          4.8           6.0          8.4     Iris-setosa
1             4.6          2.8           6.0          8.4     Iris-setosa

[147 rows x 5 columns]

## Indexes/ Labels becomes unordered after adding or removing the rows
### How to reset or order them

In [18]:
df.index

Int64Index([  5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
            ...
            142, 143, 144, 145, 146, 147, 148,   0, 149,   1],
           dtype='int64', length=147)

In [20]:
# Old indexes are also present
df.reset_index()

,index,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Flower_Type
0,5,4.6,3.4,1.4,0.3,Iris-setosa
1,6,5.0,3.4,1.5,0.2,Iris-setosa
2,7,4.4,2.9,1.4,0.2,Iris-setosa
3,8,4.9,3.1,1.5,0.1,Iris-setosa
4,9,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
142,147,6.2,3.4,5.4,2.3,Iris-virginica
143,148,5.9,3.0,5.1,1.8,Iris-virginica
144,0,5.6,3.8,6.0,7.4,Iris-setosa
145,149,5.6,4.8,6.0,8.4,Iris-setosa
146,1,4.6,2.8,6.0,8.4,Iris-setosa

In [23]:
df.reset_index(drop = True)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
0             4.6          3.4           1.4          0.3     Iris-setosa
1             5.0          3.4           1.5          0.2     Iris-setosa
2             4.4          2.9           1.4          0.2     Iris-setosa
3             4.9          3.1           1.5          0.1     Iris-setosa
4             5.4          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
142           6.2          3.4           5.4          2.3  Iris-virginica
143           5.9          3.0           5.1          1.8  Iris-virginica
144           5.6          3.8           6.0          7.4     Iris-setosa
145           5.6          4.8           6.0          8.4     Iris-setosa
146           4.6          2.8           6.0          8.4     Iris-setosa

[147 rows x 5 columns]

In [26]:
df.reset_index(drop = True, inplace = True)

df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
0             4.6          3.4           1.4          0.3     Iris-setosa
1             5.0          3.4           1.5          0.2     Iris-setosa
2             4.4          2.9           1.4          0.2     Iris-setosa
3             4.9          3.1           1.5          0.1     Iris-setosa
4             5.4          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
142           6.2          3.4           5.4          2.3  Iris-virginica
143           5.9          3.0           5.1          1.8  Iris-virginica
144           5.6          3.8           6.0          7.4     Iris-setosa
145           5.6          4.8           6.0          8.4     Iris-setosa
146           4.6          2.8           6.0          8.4     Iris-setosa

[147 rows x 5 columns]

In [27]:
# Delete column

df.drop("Sepal_Length", axis= 1, inplace= True )

del df["Sepal_Width"]

In [28]:
df.head()

   Petal_Length  Petal_Width  Flower_Type
0           1.4          0.3  Iris-setosa
1           1.5          0.2  Iris-setosa
2           1.4          0.2  Iris-setosa
3           1.5          0.1  Iris-setosa
4           1.5          0.2  Iris-setosa

In [86]:
df= iris.copy()

df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [91]:
df.columns= ["Sepal_Length", "Sepal_Width", "Petal_Length", "Petal_Width"," Flower_Type"]

df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width     Flower_Type
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

## Add a column
Diff_PL_PW= Petal_Length - Petal_Width

In [4]:
df["PL-PW"]= df["Petal_Length"] - df["Petal_Width"]

df.tail()

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Flower_Type,PL-PW
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3

In [5]:
df["Found Place"]= None


df

,Sepal_Length,Sepal_Width,Petal_Length,Petal_Width,Flower_Type,PL-PW,Found Place
0,4.9,3.0,1.4,0.2,Iris-setosa,1.2,None
1,4.7,3.2,1.3,0.2,Iris-setosa,1.1,None
2,4.6,3.1,1.5,0.2,Iris-setosa,1.3,None
3,5.0,3.6,1.4,0.2,Iris-setosa,1.2,None
4,5.4,3.9,1.7,0.4,Iris-setosa,1.3,None
...,...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,2.9,None
145,6.3,2.5,5.0,1.9,Iris-virginica,3.1,None
146,6.5,3.0,5.2,2.0,Iris-virginica,3.2,None
147,6.2,3.4,5.4,2.3,Iris-virginica,3.1,None
148,5.9,3.0,5.1,1.8,Iris-virginica,3.3,None